@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  background-color: #f0f2f5;
  height: 80vh;
  display: flex;
}
.logo img {
  width: 50%;
}
.logo h2 {
  font-weight: normal;
  /* padding-left: 25px; */
  margin-left: 25px;
}
.login {
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: #fff;
  height: 350px;
  width: 396px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 0 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  box-sizing: border-box;
}
.navbar input {
  height: 48px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
}
.btn {
  background-color: #1877f2;
  border: none;
  color: #ffffffff;
  font-weight: bold;
}
.navbar a{
    text-decoration: none;
    color: #1877f2;
    font-size: 13px;
}
:placeholder-shown{
    padding-left: 20px;
}
.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rebeccapurple; */
  width: 70%;
  margin: 0 auto;

} .create-btn{
    background-color: #00A400;
    color: #ffffffff;
    font-weight: bold;
}
h5{
    text-align: center;
    margin-top: 16px;
}
.celebrity{
    font-weight: 400;
}
.lang{
    display:flex;
    gap: 10px;
   
}
.lang a{
    text-decoration: none;
}